@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #090909;
  --secondary-color: #000;
}

html{
  height: 100%;
}

body{
    background: var(--primary-color);
    font-family: var(--font-oxygen);
    height: 100%;
}


.container{
  max-width: 1440px;
}

header{
    nav{
        a{
          font-size: 1em;
          font-weight: 400;
          transition: all 0.4s ;
        }
    }
}

.section-1{
  font-family: var(--font-bebas);  
}

@screen lg{
    .rotate-text {
        position: absolute;
        transform-origin: 0 200px;
        font-size: 3em;
        line-height: 1;
        top: 0px;
        left: 198px;
    }
}

@screen xl{
    .rotate-text {
        position: absolute;
        transform-origin: 0 250px;
        font-size: 3.5em;
        line-height: 1;
        top: 0px;
        left: 251px;
    }
}

@screen 2xl{
    .rotate-text {
        position: absolute;
        transform-origin: 0 280px;
        font-size: 4em;
        line-height: 1;
        top: 23px;
        left: 298px;
    }
}




.marquee {
  white-space: nowrap;
  /* font-family: var(--font-bebas); */
  font-weight: 300;
}
  
button,.btn{
  font-family: var(--font-bebas);
  letter-spacing: 0.5px;
}


.section-4 {
  .arrow-link{
    transform: rotate(140deg);
    transition: all 0.4s ease-in-out;
    &:hover{
      transform: rotate(500deg);
    }
  }
}

.section-5 {
  .arrow-link{
    transform: rotate(140deg);
    transition: all 0.4s ease-in-out;
    &:hover{
      transform: rotate(500deg);
    }
  }
}

.section-heading{
  font-family: var(--font-bebas);
  h2{
    font-size: 2em;
    letter-spacing: 0.05em;
  }
}

@keyframes border-blink {
  0%, 100% {
    border-color: white;
  }
  50% {
    border-color: theme('colors.red.400');
  }
}

footer {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-image: linear-gradient(-290deg,#111827d9,#111827d9),url(/images/bg-footer.png);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#08103e",endColorstr="#264cce",GradientType=1);
  color: #fff;
  background-size: cover;
  a{
    font-family: var(--font-oxygen);
  }
}
